@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

:root {
    /* ------ Primary ------ */
    --red: hsl(0, 78%, 62%);
    --cyan: hsl(180, 62%, 55%);
    --orange: hsl(34, 97%, 64%);
    --blue: hsl(212, 86%, 64%);
    /* ------ Neutral ------ */
    --verydarkblue: hsl(234, 12%, 34%);
    --grayishblue: hsl(229, 6%, 66%);
    --verylightgray: hsl(0, 0%, 98%);
}
body {
    display: block;
    place-items: center;
    min-height: 100vh;
    font-family: 'Poppins';
    background-color: var(--verylightgray);
    width: 100vw;
    height: 100vh;
}
main {
    text-align: center;
    height: 100vh;
    width: 100vw;
}
.title-1 {
    font-size: 40px;
    font-weight: 200;
}
.title-2 {
    line-height: 0;
    font-size: 40px;
    font-weight: 700;
    color: var(--verydarkblue);
}
.legend {
    color: var(--grayishblue);
    padding: 1em;
}
.cards {
    display: flex;

}
.cards:hover:not(:hover){
    opacity: 0.3;
}
.cards h2 {
    line-height: 0;
    color: var(--verydarkblue);
}
.cards p {
    color: var(--grayishblue);
    font-size: 15px;
}
.card-1 {
    border-top-width: 5px;
    border-top-style: solid;
    height: 25vh;
    width: 20vw;
    margin: 1em;
    padding: 1em;
    background-color: white;
    border-radius: 5px;
    border-top-color: var(--cyan);
    box-shadow: 5px 5px 8px darkgrey;
    transition-property: transform;
    transition-duration: 0.3s;
    position: relative;
        top: 15vh;   
        left: 16vw;
}
.iconSupervisor {
    margin: 0 180px;
}
.card-1:hover {
    cursor: pointer;
    transform: scale(1.02);
}
.card-2 {
    border-top-width: 5px;
    border-top-style: solid;
    margin: 1em;
    padding: 1em;
    height: 28vh;
    width: 20vw;
    background-color: white;
    border-radius: 5px;
    border-top-color: var(--red);
    box-shadow: 5px 5px 8px darkgrey;
    transition-property: transform;
    transition-duration: 0.3s;
    position: relative;
        top: 0vh;   
        left: 15vw;   
}
.iconTeamBuilder {
    margin: 0 180px;
}
.card-2:hover {
    cursor: pointer;
    transform: scale(1.02);
}
.card-3 {
    border-top-width: 5px;
    border-top-style: solid;
    margin: 1em;
    padding: 1em;
    height: 25vh;
    width: 20vw;
    background-color: white;
    border-radius: 5px;
    border-top-color: var(--orange);
    box-shadow: 5px 5px 8px darkgrey;
    transition-property: transform;
    transition-duration: 0.3s;   
    position: relative;
        top: 35vh;   
        left: -9.6vw;
}
.iconKarma {
    margin: 0 180px;
}
.card-3:hover {
    cursor: pointer;
    transform: scale(1.02);
}
.card-4 {
    border-top-width: 5px;
    border-top-style: solid;
    margin: 1em;
    padding: 1em;
    height: 25vh;
    width: 20vw;
    background-color: white;
    border-radius: 5px;
    border-top-color: var(--blue);
    box-shadow: 5px 5px 8px darkgrey;
    transition-property: transform;
    transition-duration: 0.3s;
    position: relative;
        top: 15vh;   
        left: -11vw;  
}
.iconCalculator {
    margin: 0 180px;
}
.card-4:hover {
    cursor: pointer;
    transform: scale(1.02);
}
.attribution {
    text-align: center;
    padding: 4px 4px;
    margin: 5% 33%;
    width: 40vw;
    height: 5vh;
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 8px darkgrey;
    border: 2px;
    border-style: solid;
    border-color: lawngreen;
    transition-property: transform;
    transition-duration: 0.3s;  
}
.attribution:hover {
    cursor: pointer;
    transform: scale(1.02);
}
.attribution a {
    text-decoration: none;
}
